Link{
  text-decoration: none;
}

body{
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  border: none;
  float: left;
  background: #615d5e;
  overflow: hidden;
}

.maincontainer{
  height: 86%;
  width: 100%;
}

header{
  height: 8%;
  width: 100%;
  background: #242021;
  border-bottom: white 1px solid;
  box-sizing: border-box;
}

footer{
  width: 100%;
  height: 6%;
  background: #242021;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: white 1px solid;
  box-sizing: border-box;
  color: lightgray;
}

#root{
  width: 100%;
  height: 100%;
}

.App{
  height: 100%;
  width: 100%;
}

a{
  text-decoration: none;
}

.headerItems{
  width: 89%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  float: left;
}

#logo{
  height: 100%;
  width: 9%;
  float: left;
  margin:0 1% 0;
}

.headerLink{
  width: 15%;
  margin: 0 0 0 0%;
  height: 100%;
}







/* white: #E7E6F7 black: #3A3335*/